<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    
    </head>
    <body>

        
        

        <form method="POST" action="{% url 'salvar' %}"> {% csrf_token %}

            <input type="text" placeholder="nome" name="nome">
            <input type="text" placeholder="sobrenome" name="sobrenome">
            <input type="number" placeholder="idade" name="idade">

            <input type="submit">

        </form>

    
    </body>
</html>